  /* COLORS */
  $color-prim: #0351A5;
  $color-sec: #F15A24;
  $color-third: #F08B00;
  $color-progress: #F7DB49;
  $color-bg-1: #051492;
  $color-blue: #002AFF;
  $color-text: #008580;
  $color-text2: #05C5BD;
  $color-title: #3A3940;
  $color-purpleblack: #322C5C;
  $color-bg-2: #FDDE33;
  $color-orange: #F97F08;
  $color-white-alter: #FCFBFC;
  $color-white: #ffffff;

  $font-first: 'Merriweather Sans', sans-serif;

  /* title */
  $sizeText1: 9rem;
  $sizeText2: 5rem;
  $sizeText3: 4rem;
  $sizeText4: 2.5rem;
  $sizeText5: 2.2rem;
  $sizeText6: 2rem;

  /* paragraph */
  $sizeTextp1:1.8rem;
  $sizeTextp2:1.6rem;
  $sizeTextp3:1.7rem;

  /* z-index */
  $zindex-1: 1;
  $zindex-2: 2;
  $zindex-10: 10;
  $zindex-100: 100;
  $zindex-1000: 1000;

  /* breakpoint */
  $small:48rem;
  $small-2:37.5rem;
  $medium:76.8rem;
  $medium-2:72rem;

  /* margin viewport principal */
  $container-width:83%;
  $main-maxwidth:150rem;

  /* LINE-HEIGHT */
  $lheig1: 1;
  $lheig1_5:1.5;
  $lheig1_7:1.7;
  $lheig2:2;

  /* FONT-WEIGHT */
  $fw300:300;
  $fw400:400;
  $fw500:500;
  $fw600:600;
  $fw700:700;
  $fw900:900;

/* IMAGES*/
$bg-prim:'./images/backgrounds/background.png';